a {
    color: rgb(123, 224, 185);
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h4 {
    margin: 10px;
}

#top,
#bottom,
#center {
    margin: 15px;
    flex: 1;
}


.text {
    width: 700px;
    height: 200px;
    padding: 20px;
    font-size: large;
    outline: none;
    border-radius: 5px;
    resize: none;
    box-sizing: border-box;
}

.row{
    display: block;
    margin: 5px 0;
}

.footer {
    padding: 15px 20px 10px 20px;
    text-align: center;
    font-size: 12px;
    color: #ccc;
}

@media (max-width: 720px) {
    .text {
        width: 600px;
    }

    .in {
        display: block;
        margin: 5px 0;
    }

    .split,
    .blank {
        margin: 5px 0;
    }
}

@media (max-width: 690px) {
    .text {
        width: 500px;
    }

    .in {
        display: block;
        margin: 5px 0;
    }

    .split,
    .blank {
        margin: 5px 0;
    }
}

@media (max-width: 660px) {
    .text {
        width: 100%;
    }

    .in {
        display: block;
        margin: 5px 0;
    }

    .split,
    .blank {
        margin: 5px 0;
    }
}